[submodule "Wgine/thirdparty/spdlog"]
	path = Wgine/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Wgine/thirdparty/GLFW"]
	path = Wgine/thirdparty/GLFW
	url = https://github.com/PawelWilczewski/glfw
	ignore = dirty
[submodule "Wgine/thirdparty/ImGui"]
	path = Wgine/thirdparty/ImGui
	url = https://github.com/PawelWilczewski/imgui/
	branch = docking
	ignore = dirty
[submodule "Wgine/thirdparty/glm"]
	path = Wgine/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Wgine/thirdparty/assimp"]
	path = Wgine/thirdparty/assimp
	url = https://github.com/pawelwilczewski/assimp
	ignore = dirty
